{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="feature">
        <h1>Новости на сайте</h1>
        {% if news %}
        {% for el in news %}
            <div class="news-block">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Подробно</a>
            </div>
        {% endfor %}
        {% else %}
            <p>В новостной ленте отсутствуют записи</p>
        {% endif %}
    </div>
{% endblock %}