{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="feature">
        <h1>Про нас</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae efficitur nunc, a auctor est. Sed tortor
            ipsum, sollicitudin ac eros eu, volutpat tristique risus. Integer et est sed nisi efficitur scelerisque in
            fermentum metus. Nullam sagittis et massa eu laoreet. Aliquam egestas porta ligula, cursus tempor enim
            tempus ut. Duis at orci ac nunc dignissim imperdiet. Etiam sollicitudin tincidunt tortor, eleifend tempus
            mi faucibus at. Aenean urna nisl, lacinia nec orci eu, rutrum vulputate nunc. Fusce bibendum laoreet
            vestibulum. Aliquam ut blandit sem, vel fermentum magna. Fusce odio odio, interdum at tellus quis, lobortis
            hendrerit massa. Maecenas nec faucibus ipsum.</p>
        <p>
            In eros nisi, vestibulum id dapibus at, ornare vel augue. Vivamus lacus odio, vulputate in nulla at,
            accumsan pulvinar turpis. Aenean vitae finibus felis. Sed est nibh, pretium at magna nec, blandit
            scelerisque lorem. Fusce vitae tincidunt orci. Duis sed ipsum at mi scelerisque ultrices. Nam pellentesque
            tellus dolor, vitae egestas sapien efficitur eget. Proin ante turpis, fringilla et suscipit sit amet,
            elementum quis nisl. Phasellus luctus, nibh sit amet rhoncus faucibus, quam tortor dignissim odio, ut
            sodales ligula ex sed nunc. Pellentesque nec commodo arcu. Ut rhoncus tellus eget libero lobortis convallis.
            Integer id suscipit est.
        </p>
    </div>
{% endblock %}

