{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="feature">
        <h1>{{ title }}</h1>
        <p>
            Данный сайт создан исключительно в развлекательных и образовательных целях.
            Представленная на сайте информация выбрана рандомно и не претендует на истинность, нарушение авторских прав и т.д.
        </p>
        <p>
            This site has been created for entertainment and educational purposes only.
            The information presented on the site is randomly selected and does not claim to be true, copyright infringement, etc.
        </p>
    </div>
{% endblock %}