.button-add { /* Кнопка "Добавить статью" */
  position: fixed; /* Фиксация позиции кнопки на экране */
  bottom: 50px; /* Расстояние от нижнего края экрана */
  left: 10%; /* Расположение элемента по горизонтали в центре экрана */
  transform: translateX(-50%); /* Центрирование элемента относительно его ширины */
  display: flex;
  flex-direction: column;
}

.button-add a {
  transition: transform 0.3s; /* Плавный переход при наведении */
}

.button-add a:hover {
  transform: scale(1.05); /* Увеличение размера при наведении */
}


.news-block .btn { /* Кнопка "Подробно" в новостном блоке */
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #9dcc8b;
  border: none;
  border-radius: 3px;
}

.news-block .btn:hover {
  background-color: #ff9800;
  color: black;
  transition: transform 0.3s; /* Плавный переход при наведении */
  transform: scale(1.05); /* Увеличение размера при наведении */
}



.btn { /* Общие настройки для кнопок */
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: #0056b3;
}


.btn-warning { /* Кнопка "Назад" */
    background-color: #ffc107;
}

.btn-success { /* Кнопка "Сохранить" */
    background-color: #28a745;
}

.btn-danger { /* Кнопка "Удалить" */
    background-color: #ff0000;
}

.btn-secondary { /* Кнопка на странице "Аккаунт" */
    background-color: #909090;
}

.btn-secondary:hover {
    background-color: #8a7f8e;
    color: black;
}

.btn-warning:hover {
    background-color: #ffaa00;
}

.btn-success:hover {
    background-color: #1e7f36;
}

.btn-danger:hover {
    background-color: #cc0000;
    color: black;
}


